html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

.navbar {
  background-color: #F2E4D8;
  font-family: 'Amiri', serif;
}

.nav-link {
  color: black !important;
}

.nav-item.border-right {
  border-color: #D98F89 !important;
}

footer {
  background-color: #F2E4D8;
  font-family: 'Amiri', serif;
}

.footer-copyright {
  background-color: #D98F89;
}

.historyHead {
  height: 400px;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  padding-top: 25px;
}

.firstCulottes {
  height: 200px;
  float: right;
  margin-left: 10px;
  margin-right: 20px;
}

.tennisPlayer {
  height: 200px;
  float: left;
  margin-right: 10px;
  margin-left: 20px;
}

.historyP {
  font-family: 'Amiri', serif;
  margin-left: 10px;
  margin-right: 10px;
}

.historyHeader {
  text-align: center;
  padding-top: 10px;
  font-family: 'Rye', cursive;
}
